html, 
body, 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%; 
    background-color: rgb(237, 196, 240);
    font-family: 'Manrope', sans-serif;

}
.title{
    display: flex;
    flex-wrap: wrap; 
    justify-content:space-evenly;
}

.heading{
font-size: 4rem;
border-radius: 15px;
background-color: rgb(209, 148, 191);
text-align: center;
width:600px;
color: white; 
margin-left: auto;
margin-right: auto; 
}

.row{
display:flex;
flex-wrap:wrap; 
align-items: center;
justify-content: space-evenly;
}


.box1{
border-radius: 10px;
padding: 36px;
margin: 80px 50px auto;
background-color: rgb(209, 148, 191);
height: 400px;
box-shadow: 1px solid;
box-shadow: 15px 15px 10px rgb(160, 115, 146)
}

.box2{
    border-radius: 10px;
    padding: 36px;
    margin: 80px 50px auto;
    height: 400px;
    box-shadow: 1px solid;
    box-shadow: 15px 15px 10px rgb(160, 115, 146);
    animation: gay infinite;
}

.box2{
    animation-name: gay;
    animation-duration: 6s;
}

@keyframes gay {
16% {background-color: rgb(224, 107, 107);}
33% {background-color: rgb(238, 179, 70);}
50% {background-color: rgb(255, 252, 103);}
66% {background-color: rgb(147, 255, 147);}
83% {background-color: rgb(130, 130, 255);}
100% {background-color: rgb(255, 142, 255);}
}

.image{
background-color: rgb(209, 148, 191);
margin: 0px;
}

.image1:hover{
transform: scale(1.1)
}

.image1:hover{opacity:1}

.image1{
    transition: 0.25s;
    opacity: 0.6; 
}

.image2:hover{
    animation-name: bounce;
    animation-timing-function: ease;
    animation: bounce 2s;
}

@keyframes bounce {
    0% {transform: translateY(0);}
    50% {transform: translateY(-30px);}
    100% {transform: translateY(0px);}

}

.image2{
    transition: 0.25s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.image3:hover{
    transform: scale(0.9)
    }
    
.image3:hover{opacity:1}
    
.image3{
    transition: 0.25s;
    opacity: 0.6; 
}

.image4:hover{
    animation: rotate 2s;
}

@keyframes rotate{
    from{transform: rotate(0deg);}
    to{transform: rotate(359deg);}
}

.image6:hover{
    animation: rotate2 2s;
}

@keyframes rotate2{
    from{transform: rotate(359deg);}
    to{transform: rotate(0deg);}
}

.caption{
font-size: 1.8rem;
background-color:rgb(174, 122, 158);
margin: 20px;
border-radius:10px;
text-align: center;
color: white;
}

.caption-1{
font-size: 1.66rem;
background-color:rgb(174, 122, 158);
margin: 20px;
border-radius:10px;
text-align: center;
color: white;
}

a, a:visited, a:link{
    text-decoration: none;
    text-decoration-style: none;
}

@media screen and (max-width:1200px){
    .row{
        flex-direction: column;
    }
    .row2{
        flex-direction: column;
    }
    .row3{
        flex-direction: column;
    }
}

@media screen and (max-width:600px){
    .row{
        flex-direction: column;
    }
    .row2{
        flex-direction: column;
    }
    .row3{
        flex-direction: column;
    }
}

