html, 
body, 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%; 
    background-color: rgb(237, 196, 240);
    font-family: 'Manrope', sans-serif;

}
.title{
    display: flex; 
    justify-content:space-around;
}

.heading{
font-size: 4rem;
border-radius: 15px;
margin: 50px 350px auto;
background-color: rgb(209, 148, 191);
text-align: center;
width:600px;
color: white; 
}

.row{
display:flex;
flex-flow: row wrap; 
align-items: center;
justify-content: space-between;
}

.box1{
border-radius: 10px;
padding: 36px;
margin: 80px 50px auto;
background-color: rgb(209, 148, 191);
height: 400px;
width:380px;
box-shadow: 1px solid;
box-shadow: 15px 15px 10px rgb(160, 115, 146)
}

.image{
background-color: rgb(209, 148, 191);
margin: 0px;
}

.image1:hover{
transform: scale(1.1)
}

.image1:hover{opacity:1}

.image1{
    background-color: rgb(209, 148, 191);
    transition: 0.25s;
    opacity: 0.6; 
}

.image2:hover{
    animation-name: bounce;
    animation-timing-function: ease;
}

@keyframes bounce {
    0% {transform: translateY(0);}
    50% {transform: translateY(-30px);}
    100% {transform: translateY(0);}
}

.image2{
    background-color: rgb(209, 148, 191);
    transition: 0.25s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.image3:hover{
    transform: scale(0.9)
    }
    
.image3:hover{opacity:1}
    
.image3{
    background-color: rgb(209, 148, 191);
    transition: 0.25s;
    opacity: 0.6; 
}

.caption{
font-size: 1.8rem;
background-color:rgb(174, 122, 158);
margin: 20px;
border-radius:10px;
text-align: center;
color: white;
}

.caption-1{
font-size: 1.66rem;
background-color:rgb(174, 122, 158);
margin: 20px;
border-radius:10px;
text-align: center;
color: white;
}
.row2{
display:flex;
flex-flow: row wrap; 
align-items: center;
justify-content: space-between;
}

.row3{
display:flex;
flex-flow: row wrap; 
align-items: center;
justify-content: space-between;
}
a, a:visited, a:link{
    text-decoration: none;
    text-decoration-style: none;
}

@media screen and (max-width:900px){
    .row{
        flex-direction: column;
    }
    .row2{
        flex-direction: column;
    }
    .row3{
        flex-direction: column;
    }
    .box1{
        width:
    }
}

@media screen and (max-width:600px){
    .row{
        flex-direction: column;
    }
    .box1{
        width:
    }
}